.LI-badge-container.profinder.light {
  max-width: none !important;
}

.footer-link {
  color: black;
}
.footer-link:hover {
  color: blue;
}

@media (min-width: 960px) {
  .LI-profile-badge {
    display: none;
  }
}
