#banner.style2.about {
  background-image: url('../assets/images/aboutBanner.jpg') !important;
}
#banner.style2.about:after {
  background-color: #6fc3df !important;
}

#banner.style2.workwithme {
  background-image: url('../assets/images/brainstorm.jpeg') !important;
}
#banner.style2.workwithme:after {
  background-color: #e7b788 !important;
}

#banner.style2.success {
  background-image: url('../assets/images/success.jpg') !important;
}

#banner.style2.success:after {
  background-color: #87c5a4 !important;
}
